.repo-container{
    border: 0px;
    padding: 1rem 1rem;
    box-shadow: rgb(0 0 0 / 30%) 0px 5px 15px;
    border-radius: 5px;
    background: radial-gradient(#76b2fe, #b69efe);
}

.repo-primary-text{
    color: royalblue;
    font-size: 20px;
    font-weight: 600;
}

.repo-secondary-text{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}